body, html {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

/*Showcase on main page*/
.productShowcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: scroll;
}

#imgSlider img {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#textContainer {
  position: absolute;
  color: #fff;
}

.product {
    padding: 0px;
    margin: 10px;
}

.product p, svg:first-of-type {
    margin-left: 10px;
}

.product p:last-of-type {
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 0px;
}

.product img {
    height: 200px;
    margin: 10px;
    border-radius: 9px;
}

.priceWhole {
    font-size: large;
    font-weight: bold;
}

.pricePart {
    font-size:smaller; 
    vertical-align:top;
}

/*Shopping Cart Nav*/
.secondaryNav {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.secondaryNav p {
    margin: 0 5px;
    padding: 0px;
    font-size: small;
}

.navCart:hover, .login:hover {
    background-color: #EDEADE;
}

.login {
    border-radius: 9px;
    padding: 18px;
}

.navCart {
    border-radius: 9px;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .secondaryNav {
        grid-template-columns: auto auto auto !important;
    }
}
